<h1>Facções</h1>
<ul>
<% @factions.each do |faction| %>
<li><%= faction.name %></li>
<% end %>
</ul>
<br>
<p><%= link_to  'Criar facção', new_faction_path %></p>
<p><%= link_to  "Voltar", root_path %></p>


